@import "./partials/_variables";

body {
  background-image: url("../images/anarchy99.jpg");
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 400px;
  width: 800px;
  overflow: hidden;

  @media only screen and (min-width: 600px) {

  }
}

#headerImage {
  position: center;
  display: inline-block;

  @media only screen and (min-width: 600px) {

  }
}


.flex-container {

  @media only screen and (min-width: 600px) {

    }

.art-container {

  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }



    .art-item {

      @media only screen and (min-width: 600px) {
        box-sizing: border-box;
        width: 31%;
      }

     .art-image {

        @media only screen and (min-width: 600px) {
          max-width: 200px;
          max-height: 50%;
          display: block;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;


}

  }
}

}


}




// //desktop
// @media (min-width: 600px) {
// .header {
//   height: 400px;
//   width: 800px;
//   overflow: hidden;
// }

// #headerImage {
//   position: center;
//   background
// }
// .art-container {
// // display: flex;
// // font-size: 10px;
// // flex-wrap: wrap;
// // align-content: center;
// // justify-content: space-between;

//  .art-item {
//   // flex: 1 0 200px;
//   // margin: auto;
//   // margin-left: 20px;
//   // margin-top: 40px;
//   // background-size: cover;

//   .image {
//     // height: 300px;
//     // width: 400px;
//     // // overflow: hidden;
//     // padding: 20px;
//     // // max-width: 100%;
//     }
//   }
// }

//}
