@import "./partials/_variables";

body {
  background-image: url("../images/anarchy99.jpg");
  font-family: 'Roboto', sans-serif;
}

a:link {
  text-decoration: none;
}
a:hover {
  color: black;
}

.title {
  font-family: 'karla', sans-serif;
  color: #666; // 666.... get it??
  border-top: 1px dotted #666;
  display: flex;
  justify-content: center;

 .blurb {
    flex-direction: row;
    text-overflow: ellipsis;
    width: 200px;
    padding-left: 50px;
    font-size: 8px;
    border-left: 1px dotted #666; // hahaha again we did it!
  }

 .anarkyTitle {

    display: flex;
    flex-direction: row;
    padding-right: 50px;
  }

}


.header {

  @media only screen and (min-width: 600px) {
  height: 250px;
  width: 100%;
  max-width: 782px;

  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  }
}

#headerImage {
  height: 50%;
  width: 50%;

  @media only screen and (min-width: 600px) {
  max-height: 100%;
  max-width: 100%;
  height: 250px;
  width: 782px;
  object-fit: cover;
  display:flex;
  justify-content: center;

  }
}

//bigger container
.bigger-container {
  .content {
    display: flex;

.collection {
  display: flex;
  justify-content: center;

  .single-artwork {
      margin-left: 15%;
    .image {
      @media only screen and (min-width: 600px){
      width: 90%;
    }
      .each-image {
        @media only screen and (min-width: 600px){
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }


      }

    }
  }
}
}

///sidepanel

.sidepanel {

  width: 22%;
  background-color: pink;

  .sidepanel-container {

    .single-item {
       @media only screen and (min-width: 600px){
        display: flex;
        width: 200px;

      }
      .single-image {

         @media only screen and (min-width: 600px){
          width: 200px;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
    }
  }
}
}







///gallery
.flex-container {

  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

  .art-container {
    padding: 1.5%;

    @media only screen and (min-width: 600px) {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      width:800px;
      padding: 1.5%;

    }

    .art-item {
      justify-content: center;
      @media only screen and (min-width: 600px) {
        padding-top: 5px;
        box-sizing: border-box;
        width: 31%;
      }

     .art-image {

          height: 50%;
          width: 50%;

        @media only screen and (min-width: 600px) {
          height: 200px;
          width: 300px;
          max-width: 100%;
          max-height: 100%;
          display: block;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          overflow: hidden;
          object-fit: cover;

          }

      }
    }
  }
}

