<div class="title">
  <div class="anarkyTitle">
    <h1>_ANARKY</h1>
  </div>
  <div class="blurb">
    <p>What we stand for: are great things and we are great people with great ideas and we also are anti government and great. we really want money.</p>
  </div>
</div>