<h1>_ANARKY</h1>

{{!-- header photo --}}
<div class="collection">
    <div class="header">
        <img id="headerImage" src="http://payload309.cargocollective.com/1/12/398889/8499741/AAAARicky_11_1000.jpg" alt="French Plús" >
    </div>
</div>

{{!-- body photos --}}
<div class="flex-container">
  <div class="art-container">
    {{#each data}}
      <div class="art-item">
          <div class="image">
            <a href="http://localhost:4567/gallery/{{id}}">
              <img class="art-image" src="{{link}}" alt="French Plús" >
            </a>
            </div>
        <p>Author : {{author}}</p><br>
        <a href="www.anarchistsunite.com">www.anarchistsunite.com</a>
        </div>
    {{/each}}
    </div>
</div>


<a href="http://localhost:4567/gallery/new">Create New Artwork</a>

<br>
<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:4567/flash">Click here</a> for a flash message using the express-flash module.</p>

<p>Refresh to clear the flash message.</p>

{{#if expressFlash}}
    <p><strong>FLASH!</strong> {{ expressFlash }}</p>
{{/if}}

