<div class="title">
  <div class="anarkyTitle">
    <h1>_ANARKY</h1>
  </div>
  <div class="blurb">
    <p>What we stand for: are great things and we are great people with great ideas and we also are anti government and great. we really want money.</p>
  </div>
</div>

{{!-- login --}}
<a href="/gallery/new" style='color: #666;'>Create New Artwork</a><br>
{{>logout}}



{{!-- header photo --}}
<div class="collection">
    <div class="header">
        <img id="headerImage" src="http://payload309.cargocollective.com/1/12/398889/8499741/AAAARicky_11_1000.jpg" alt="French Plús" >
    </div>
</div>

{{!-- body photos --}}
<div class="flex-container">
  <div class="art-container">
    {{#each data}}
      <div class="art-item">
          <div class="image">
            <a href="http://localhost:4567/loggedIn/{{id}}">
              <img class="art-image" src="{{link}}" alt="French Plús" >
            </a>
            </div>
        <p style='color: #666; font-size: 12px;'>{{author}} ---</p>
        <a href="www.anarchistsunite.com" style='color: #666; font-size: 12px;'>www.anarchistsunite.com</a>
        </div>
    {{/each}}
    </div>
</div>


<br>
<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:4567/flash" style='color: #666;'>Click here</a> for a flash message using the express-flash module.</p>

<p>Refresh to clear the flash message.</p>

{{#if expressFlash}}
    <p><strong>FLASH!</strong> {{ expressFlash }}</p>
{{/if}}

